html {
  margin: 0;
  padding: 0;
  box-sizing: 1440px;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 0 33%;
  width: 500px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 5px -5px 25px hsl(224, 23%, 55%);
}

.card_img {
  height: 250px;
  width: 500px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card_title {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.card_text {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 300px;
}

.card_plan__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  margin: 1rem 0 0 0;
  border-radius: 1rem;
  height: 75px;
}
.card_plan__section__img {
  margin: 0 1rem 0;
}

.card_plan__section__text {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  margin: 0 4rem 0 0.5rem;
}

.card_plan__section__text__title {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}

.card_plan__section__text__price {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  color: hsl(223, 13%, 61%);
}

.card_plan__section__link {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  margin: 0 1.5rem 0 0;
}

.card_plan__section__link:hover {
  cursor: pointer;
}

.proceed_btn {
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  margin-top: 2rem;
  width: 300px;
  border-radius: 0.5rem;
  height: 35px;
  background-color: hsl(245, 75%, 52%);
  color: white;
}
.proceed_btn:hover {
  cursor: pointer;
}

.cancel {
  color: hsl(223, 13%, 61%);
}
.cancel:hover {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* 375px mobile */

@media (max-width: 375px) {
  .main_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0 0 10%;
    width: 300px;
    background-color: white;
    border-radius: 1rem;
  }
  .card_img {
    height: 150px;
    width: 300px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .card_plan__section__img {
    height: 50%;
    margin: 0 1rem 0;
  }

  .card_plan__section__text {
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    font-family: "Red Hat Display", sans-serif;
    margin: 0 4rem 0 0.5rem;
  }

  .card_plan__section__link {
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    font-family: "Red Hat Display", sans-serif;
    margin: 0 1.5rem 0 0;
  }

  .proceed_btn {
    font-family: "Outfit", sans-serif;
    font-family: "Red Hat Display", sans-serif;
    margin-top: 2rem;
    width: 275px;
    border-radius: 0.5rem;
    height: 35px;
    background-color: hsl(245, 75%, 52%);
    color: white;
  }
  .card_text {
    font-family: "Outfit", sans-serif;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 275px;
  }
}
